.root {
}

.wrapper {
  display: grid;
  grid-auto-columns: 1.5rem;
  grid-gap: 0.1rem;
  justify-content: center;
}

.seat {
  border: 1px solid #8bd1c8;
  background-color: #b3ddd2;
  text-align: center;
}

.selected {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.lastSelected {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
}
