.seat {
  background-color: #c13232;
  text-align: center;
  padding-top: 0.4rem;
  color: #ffffff;
}

.selected {
  background-color: rgb(230, 196, 24);
  color: #000000;
}

.lastSelected {
  background-color: rgb(230, 196, 24);
  color: #000000;
}
